body {
	background-color: grey;
	--bs-body-color: white;
}

.dot {
	height: 10px;
	width: 10px;
	background-color: #808080;
	border-radius: 50%;
	margin-top: 12px;
	margin-right: 5px;
	float: right;
}

.dot-green {
	background-color: #1de9b6;
}

.tile {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	color: white;
}

.iconButton {
	padding: 5px;
	color: white;
}

#pageTitle {
	margin-top: 50px;
}

#json-input {
	display: block;
	width: 100%;
}

#json-display {
	border: 1px solid #000;
	padding: 10px 20px;
}

.progress-container {
  width: 250px;
  height: 30px;
  background-color: #000;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}

.progress-bar {
  height: 100%;
  /* width: 70%; <-- progress percentage, controlled by JS */
  background: linear-gradient(90deg,rgba(0, 255, 0, 1) 0%, rgba(255, 255, 0, 1) 50%, rgba(255, 0, 0, 1) 100%);
  background-size: 250px 100%;
  background-repeat: no-repeat;
  background-position: left;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease; /* dodaje płynną animację zmiany paska */
}

/* Czerwony kolor tekstu - ostrzeżenie o przekroczeniu 90% */
.text-danger-bold {
    color: #ff5252 !important;
    font-weight: bold;
    text-shadow: 0 0 5px rgba(255, 0, 0, 0.2);
}
